//colors:

$background: #F3F4F3;
$grey: #B6BFBB;
$blue: #5b72b8;


//fonts:

$barlow: 'Barlow', sans-serif;
$barlowcondensed: 'Barlow Condensed', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;