//colors:

$background: #F3F4F3;
$grey: #B6BFBB;
$blue1: #5b72b8;
$blue: #294431;


//fonts:

$barlow: 'Barlow', sans-serif;
$barlowcondensed: 'Barlow Condensed', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

//screen sizes:
$s: 360px;
$m: 576px;
$l: 768px;
$l2: 850px;
$xl: 1094px;
$xxl: 1400px;
