@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.navigation {
  width: 100%;
  display: inline-block;
  height: 60px;
  min-width: 390px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 2px 10px #d8d8d8;
  z-index: 100;
}

.navigation .nav-container {
  max-width: 1400px;
  margin: 0 auto;
}

.navigation .nav-container .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 60px;
  width: 200px;
  font-size: 1.5rem;
}

.navigation .nav-container .brand a {
  color: black;
}

.navigation .nav-container .nav {
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav {
    float: right;
    width: auto;
    padding: 0;
  }
}

.navigation .nav-container .nav .nav-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .nav-mobile {
    display: none;
  }
}

.navigation .nav-container .nav .nav-mobile .nav-ham {
  position: absolute;
  left: 10px;
  top: calc(34px / 2);
  z-index: 1;
  cursor: pointer;
  padding: 10px 35px 10px 0px;
}

.navigation .nav-container .nav .nav-mobile .nav-ham span {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

.navigation .nav-container .nav .nav-mobile .nav-ham span::after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
  bottom: -10px;
}

.navigation .nav-container .nav .nav-mobile .nav-ham span::before {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
  top: -10px;
}

.navigation .nav-container .nav .nav-mobile .active span {
  background-color: transparent;
}

.navigation .nav-container .nav .nav-mobile .active span::after {
  top: 0;
  transform: rotate(-45deg);
}

.navigation .nav-container .nav .nav-mobile .active span::before {
  top: 0;
  transform: rotate(45deg);
}

.navigation .nav-container .nav .first-level {
  display: none;
  margin: 0;
  z-index: 1000;
  padding: 0;
  background-color: white;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .first-level {
    display: block;
    background-color: white;
    z-index: 1000;
  }
}

.navigation .nav-container .nav .first-level li {
  float: none;
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .first-level li {
    float: left;
  }
  .navigation .nav-container .nav .first-level li a {
    padding: 0px 25px;
    color: black;
    line-height: 60px;
  }
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .first-level li .second {
    border: 1px solid #294431;
    height: 15px;
    padding: 10px;
    border-radius: 30px;
    background-color: #294431;
    color: white;
  }
}

.navigation .nav-container .nav .first-level li .second::after {
  padding-left: 4px;
  content: "\25BC";
}

.navigation .nav-container .nav .first-level li .down::after {
  padding-left: 4px;
  content: "\25B2";
}

.navigation .nav-container .nav .first-level .second-level {
  position: static;
  display: none;
  margin: 0;
  padding: 0;
  width: auto;
  z-index: 1;
  background-color: white;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .first-level .second-level {
    position: absolute;
    display: none;
    min-width: 300px;
    border: 1px solid red;
    background-color: #294431;
    border: 1px solid #294431;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #d8d8d8, -2px 2px 3px #d8d8d8;
  }
}

.navigation .nav-container .nav .first-level .second-level li {
  min-width: 190px;
}

.navigation .nav-container .nav .first-level .second-level li a {
  padding: 15px;
  color: black;
  padding-left: 30px;
  line-height: 16px;
}

@media screen and (min-width: 799px) {
  .navigation .nav-container .nav .first-level .second-level li a {
    padding: 15px;
    color: white;
  }
}

.navigation .nav-container .nav .first-level .active {
  display: block;
  width: 100%;
  padding: 10px 20px;
  line-height: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 799px) {
  .navigation .nav-container .nav .active {
    display: block;
    width: 100%;
    background-color: white;
    padding: 60px 20px 20px 20px;
    line-height: 50px;
  }
}

body {
  background-color: #F3F4F3;
  width: 100%;
  height: 100vh;
  min-width: 390px;
}

.slider-container {
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 0;
}

@media screen and (min-width: 799px) {
  .slider-container {
    height: 70vh;
  }
}

.slider-container .slide {
  height: 60vh;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 799px) {
  .slider-container .slide {
    height: 70vh;
  }
}

.slider-container .slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.general {
  width: 100%;
  background-color: #294431;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.general .containerforgeneral {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general .containerforgeneral .item {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc(100% / 3.3);
  justify-content: center;
  align-items: center;
}

.general .containerforgeneral .item img {
  width: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 20px;
  border: 2px dashed black;
}

.general .containerforgeneral .item h2 {
  padding-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.product-wrapper {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-wrapper .product-container {
  width: 100%;
  height: 70vh;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-wrapper .product-container .product {
  width: calc((100% / 3) * 1.5);
  height: 70vh;
}

.product-wrapper .product-container .product img {
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: white;
  border-radius: 30px;
}

.product-wrapper .product-container .product-info {
  width: calc((100% / 3) * 2);
  height: 70vh;
  margin-left: 80px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.product-wrapper .product-container .product-info h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 30px;
}

.product-wrapper .product-container .product-info h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 30px;
}

.product-wrapper .product-container .product-info .price {
  font-size: 2rem;
  font-weight: 400;
}

.product-wrapper .product-container .product-info .buy-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-wrapper .product-container .product-info .buy-info .quantity {
  display: flex;
  align-items: center;
}

.product-wrapper .product-container .product-info .buy-info .quantity input[type="number"] {
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.product-wrapper .product-container .product-info .buy-info .quantity button {
  width: 50px;
  height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.product-wrapper .product-container .product-info .buy-info .quantity button:hover {
  background-color: #e0e0e0;
}

.product-wrapper .product-container .product-info .buy-info .quantity button:active {
  background-color: #ccc;
}
